<style>
    .list-group-item {
      border: none;
      box-shadow: -1px 1px 2px rgba(255, 193, 7, 0.4);
      margin-bottom: 15px;
    }
  
    .form-control {
      border: 1px solid #f0d351;
      box-shadow: -1px 1px 2px #f8f9fa;
    }
  </style>
  
  <div class="container">
    <%= link_to "招领提交 +", new_found_path, class: 'btn btn-warning btn-block my-1' %>
      <%= search_form_for @q, url: search_path do |f| %>
        <div class="input-group">
          <%= f.search_field :description_cont, class: 'form-control', placeholder: "饭卡、手机、省份证、钱包..." %>
            <span class="input-group-btn">
              <%= f.submit '⏎', class: 'btn btn-warning' %>
            </span>
        </div>
        <% end %>
  
          <br>
  
          <div class="list-group">
            <% @founds.each do |f| %>
              <a href="<%= found_path(f) %>" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <small class="mb-1">地点：第一教学楼</small>
                  <small>
                    <%= time_ago_in_words f.created_at %>
                  </small>
                </div>
                <div class="row">
                  <div class="col-4">
                    <%= image_tag(f.picture.url, size: '90x80') if f.picture.url %>
                  </div>
                  <div class="col-8">
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus.</p>
                  </div>
                </div>
                <small>
                  <%= f.name %>（
                    <%= f.phone_number %>）</small>
              </a>
  
              <% end %>
  
          </div>