<style>
    .form-control {
      border: none;
      box-shadow: -1px 1px 2px rgba(255, 193, 7, 0.4);
    }
</style>

<div class="container">
    
      <div class="row justify-content-center">
        <div class="col-9">
          <%= link_to root_path do %>
            <%= image_tag  "logo.jpg", size: "240x240" %>
          <% end %>
        </div>
      </div>
    
      <%= form_for( @found , remote: false) do |f| %>
        <div class="form-group row justify-content-center">
          <div class="col-9">
            <%= f.text_field :name, class: 'form-control', placeholder: '*姓名' %>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-9">
            <%= f.text_field :phone_number, class: 'form-control', placeholder: '*手机号' %>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-9">
            <%= f.text_area :description, class: 'form-control', placeholder: '描述' %>
          </div>
        </div>
    
        <div class="form-group row justify-content-center">
          <div class="col-9">
            <label class="custom-file">
              <%= f.file_field :picture, class: 'custom-file-input' %>
                <span class="custom-file-control">上传图片</span>
            </label>
          </div>
        </div>
    
        <div class="form_group row justify-content-center">
          <div class="col-9">
            <%= f.submit '失物提交', class: 'btn btn-warning btn-block' %>
          </div>
        </div>
        <% end %>
    </div>