<div class="jumbotron"></div>
<br>

<div class="container">
  <%= image_tag(@found.picture.url, class: 'card-img-top', size: '240x240') if @found.picture? %>
    <hr>
    <h3>姓名：
      <%= @found.name %>
    </h3>
    <h3>手机号：
      <%= @found.phone_number %>
    </h3>
    <h3>描述：
      <%= @found.description %>
    </h3>
</div>